
<html>
<head>
	<title>College Register App</title>
</head>
<body>
	<form>
		first name:<input type="text" name="fname"><br>
		age:<input type="number" name="age"><br>
		Date of Birth:<input type="date" name="dob"><br>
		Start time:<input type="time" name="stime"><br>
		Select native:<select>
			<option>Jammu</option>
			<option>andhra</option>
			<option>Tamilnadu</option>
			<option>kerala</option>
		</select><br>
		<input type="radio" name="fav_language"value="HTML">HTML
		<input type="radio" name="fav_language"value="CSS">CSS
		<input type="radio" name="fav_language"value="JAVASCRIPT">JS
		<br>
		Select vehicle option:
		<input type="checkbox" name="vehicle1"value="Bike">Bike
		<input type="checkbox" name="vehicle2"value="car">car
		<input type="checkbox" name="vehicle3"value="boat">Boat
		<br>
		Comments:<input type="textares" rows="3"><br>
		Enter email:<input type="email" name="email"><br>
		Enter password:<input type="password" name="pwd"><br>
		button:<input type="button" onclick="alert('welcome!')" value="Click Me!">
		color:<input type="color" id="favcolor" name="favcolor"><br>
		img:<input type="image" src="img_submit.gif" alt="Submit" width="48" height="48"><br>
		upload the file:<input type="file" id="myfile" name="myfile"><br>
		search button:<input type="search" id="gsearch" name="gsearch"><br>
		<input type="week" id="week" name="week"><br>
		<input type="range" id="vol" name="vol" min="0" max="50"><br>
		phone number:<input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"><br>
		Input type Name:<input type="time" id="appt" name="appt"><br>
		input type url:<input type="url" id="homepage" name="homepage"><br>
		search:<input type="search" id="gsearch" name="gsearch">
		<input type="submit" value="Register">
	</form>
</body>
</html>